<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.camera2basic">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MaterialTheme">

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity
            android:name=".CameraActivity"
            android:label="ShutterMate" />
        <activity
            android:name=".ImageActivity"
            android:label="@string/title_activity_image"
            android:theme="@style/MaterialTheme" />
        <activity android:name=".MainActivity">

            <!--             uncomment this to make mainAcitivty the first to launch -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DigitalBoardActivity">

            <!--
            uncomment this to make digitalBoardActivity the first to launch
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Pop"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".NextMovePop"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity android:name=".BoardPrefsActivity" />
        <activity
            android:name=".SavedBoardsActivity"
            android:label="@string/title_activity_saved_boards"
            android:theme="@style/MaterialTheme" />
    </application>

</manifest>